<%= render partial: "layouts/show" %>
<% if (@book.count - @book.borrowed_count > 0) && current_user != nil %>
  <%= link_to "Borrow", orderbook_path(@book) %>
<% elsif current_user != nil %>
  <p>All books borrowed</p>
<% end %>
